<appSettings>
  <add key="FacebookAppId" value="669348493245716" />
  <add key="FacebookAppSecret" value="0a7856814bfb83c0467ed9c75580b856" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>